<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Form Submission</title>
    <style>
        table {
        
            width: 100%;
            height: 20px;
            margin-top: 5%;

        }

        td,
        td {
          
            text-align: center;
        }
    </style>
</head>

<body>
    <table border="1">
        <tr>

            <th>S.NO</th>
            <th>New Employee name</th>
            <th>Form 11</th>
            <th>Form 12B</th>
            <th>Joining Form</th>
            <th>Insurance Form</th>

        

    </table>

</body>

</html>