<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/homepage.css">
</head>

<body>
    <div class="box">
        <div class="login"><b>DANIELI</b> CORUS</div>
        <div class="imgcontainer">
            <img src="img/for Applicaiton.png" alt="Avatar" class="avatar">
        </div>

    </div>
    <div class="box1">
        <span class="formname">Form Name</span>
        <span class="status">Status</span>

        <!-- <button onclick="myfun()" class="pfform">PF FORM</button><br>
        <button onclick="myfuns()" class="form12b">FORM12B</button><br>
        <button onclick="myform()" class="form12b">INFORMATIONfORM</button><br>
        <button onclick="myforms()" class="form12b">NEW JOINING</button><br>
        <button onclick="myinduction()" class="form12b">EMPLOYEE INDUCTION PLAN</button> -->
        <a class="pfform" href="/PFform">1. <u>PF form</u></a><br><br>
        <a class="form12b" href="/forms12">2. <u>Details of tax deduction (Form12b)</u></a><br><br>
        <a class="form12b" href="/newjoining">3. <u>New Joinee Insurance Form</u></a><br><br>
        <a class="form12b" href="/informationform">4. <u>Employee Joining Form</u></a><br><br>
        <a class="form12b" href="/induction">5. <u>Employee Induction Plan</u></a><br><br>

        <!-- <div id="successIcon">&#10004;</div>

        <script>
            document.getElementById('myForm').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent form submission
            
                // Simulate form submission (you can replace this with your actual logic)
                // For demonstration purposes, I'm using a setTimeout
                setTimeout(function () {
                    document.getElementById('successIcon').style.display = 'block';
                    document.getElementById('submitButton').disabled = true;
                }, 1000); // Change the timeout as needed
            });
            
        </script>
         -->
        <!-- <script src=""></script> -->
        <!-- <script>
            function myfun() {
                var myUrl = ""; 
                window.location.href = myUrl; 
                
            }
            function myfuns(){
                var myUrls = ""; 
                window.location.href = myUrls; 
            }
            function myform(){
                var myUrls = ""; 
                window.location.href = myUrls; 
            }
            function myforms(){
                var myUrlr = ""; 
                window.location.href = myUrlr; 
            }
            function myinduction(){
                var myUrlr = ""; 
                window.location.href = myUrlr; 
            }
        </script>

 -->

    </div>



</body>

</html>