<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .manage {
            margin-top: 100px;
            margin-left: 100px;
            width: 400px;
            height: 90px;
            font-size: 30px;


        }

        .manages {
            margin-top: 40px;
            margin-left: 100px;
            width: 400px;
            height: 90px;
            font-size: 30px;

        }


        .box {
            width: 100%;
            height: 120px;
            background-color: rgba(229, 229, 229, 0.53);

        }

        .login {
            font-size: 60px;
            position: absolute;
            top: 3.9%;
            left: 16%;
            font-family: 'Times New Roman', serif;
        }

        .imgcontainer {
            text-align: center;


        }

        img.avatar {
            border: 0px solid black;
            width: 10%;
            margin-left: -83%;
            /* border-radius: 50%; */
            /* padding-top: -100px; */
        }
    </style>
</head>

<body>
    <div class="box">
        <div class="login"><b>DANIELI</b> CORUS</div>
        <div class="imgcontainer">
            <img src="img/for Applicaiton.png" alt="Avatar" class="avatar">
        </div><br>

    </div>

    <button onclick="myfun()" class="manage">Manage Employee</button><br>
    <button onclick="myfuns()" class="manages">Download Employee Submitted Forms</button><br>
    <button onclick="myfunr()" class="manages">Employee Onboarding Checklist</button>

    <script>
        function myfun() {
            var myURL = "/managemployee";
            window.location.href = myURL;
        }

        function myfuns() {
            var myURLs = "/Employee_submission";
            window.location.href = myURLs;
        }

        function myfunr() {
            var myURLr = "/managemployees";
            window.location.href = myURLr;
        }

    </script>

</body>

</html>