<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Master Sheet</title>
    <link rel="stylesheet" href="/newjoining.css">

</head>

<body>
    <form action="/newjoininsert" method="post">
        <table>
            <tr>
                <th colspan="6" id="col1">EMPLOYEE INSURANCE DETAILS</th>
            </tr>
            <tr>
                <th>Name</th>
                <td colspan="4"><input type="text" name="Name" id="kits"></td>

                <!-- Add other table headers here -->
            </tr>

            <tr>
                <th>Designation</th>
                <td colspan="4"><input type="text" name="Designation" id="kits"></td>

                <!-- Add other table headers here -->
            </tr>

            <tr>
                <th>Present Address</th>
                <td colspan="4"><input type="text" name="PresentAddress" id="kits"></td>

                <!-- Add other table headers here -->
            </tr>
            <tr>
                <th>Permanent Address</th>
                <td colspan="4"><input type="text" name="PermanentAddress" id="kits"></td>

                <!-- Add other table headers here -->
            </tr>
            <tr>
                <th>Name of father</th>
                <td colspan="4"><input type="text" name="Namefather" id="kits"></td>

                <!-- Add other table headers here -->
            </tr>
            <tr>
                <th>Name of Mother</th>
                <td colspan="4"><input type="text" name="NameMother" id="kits"></td>

                <!-- Add other table headers here -->
            </tr>
            <tr>
                <th>PAN</th>
                <td colspan="4"><input type="text" name="PAN" id="kits"></td>

                <!-- Add other table headers here -->
            </tr>
            <tr>
                <th>Date of Joining</th>
                <td colspan="4"><input type="text" name="DateJoining" id="kits" onfocus="(this.type='date')"
                        onblur="if(!this.value) this.type='text'" max="9999-12-31"></td>
            </tr>
            <tr>
                <th>Date of Birth</th>
                <td colspan="4"><input type="text" name="DateBirth" id="kits" onfocus="(this.type='date')"
                        onblur="if(!this.value) this.type='text'" max="9999-12-31"></td>

            </tr>
            <tr>
                <th>personal mobile</th>
                <td colspan="4"><input type="text" name="personalmobile" id="kits"></td>
            </tr>
            <tr>
                <th>Personal e-mail id</th>
                <td colspan="4"><input type="text" name="personalemail" id="kits"></td>

            </tr>
            <tr>
                <th>Department</th>
                <td colspan="4"><input type="text" name="Department" id="kits"></td>

            </tr>
            <tr>
                <th>Location</th>
                <td colspan="4"><input type="text" name="Location" id="kits"></td>

            </tr>
            <tr>
                <th>Marital Status</th>
                <td colspan="4"><input type="text" name="MaritalStatus" id="kits"></td>
            </tr>
            <tr>
                <th>EPF NO with Previous Employer</th>
                <td colspan="4"><input type="text" name="EPFNOwithPreviousEmployer" id="kits"></td>
            </tr>
            <tr>
                <th colspan="7" id="col1">FAMILY DETAILS FOR INSURANCE</th>
            </tr>
            <tr>
                <th>Name of Spouse & Children</th>
                <th>Relationship</th>
                <th>Date of Birth</th>

            </tr>
            <tr>
                <td><input type="text" name="nameofSpouseandChildren" id="kit" class="kit"></td>
                <td><input type="text" name="Relationship" id="kit" class="kit"></td>
                <td><input type="text" name="DateofBirth" id="kit" class="kit" onfocus="(this.type='date')"
                        onblur="if(!this.value) this.type='text'" max="9999-12-31"></td>
            </tr>
            <tr>
                <td><input type="text" name="nameofSpouseandChildren1" id="kit" class="kit"></td>
                <td><input type="text" name="Relationship1" id="kit" class="kit"></td>
                <td><input type="text" name="DateofBirth1" id="kit" class="kit" onfocus="(this.type='date')"
                        onblur="if(!this.value) this.type='text'" max="9999-12-31"></td>
            </tr>
            <tr>
                <td><input type="text" name="nameofSpouseandChildren2" id="kit" class="kit"></td>
                <td><input type="text" name="Relationship2" id="kit" class="kit"></td>
                <td><input type="text" name="DateofBirth2" id="kit" class="kit" onfocus="(this.type='date')"
                        onblur="if(!this.value) this.type='text'" max="9999-12-31"></td>
            </tr>
            <tr>
                <td><input type="text" name="nameofSpouseandChildren3" id="kit" class="kit"></td>
                <td><input type="text" name="Relationship3" id="kit" class="kit"></td>
                <td><input type="text" name="DateofBirth3" id="kit" class="kit" onfocus="(this.type='date')"
                        onblur="if(!this.value) this.type='text'" max="9999-12-31"></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="6"><input type="submit" value="submit" onclick="myfun()"></td>
            </tr>
            <!-- Add more rows as needed -->
        </table>
        <script>
            function myfun() {
                alert("done");
                window.location.href = "/homepage";
            }
        </script>


    </form>
</body>

</html>