.img1{ 
    border: 0px solid black;
    width: 100%;
    height:970px;
}
.img2{
    border: 0px solid black;
    width:100%;
    height: 970px;
    margin-top: -10px;
}
.box1{
    border: 1px solid black;
    width:100%;
    height:2470px;
    position: relative;
}
.submit{
    border: 1px solid black;
    border-radius: 20px;
    width: 10%;
    height: 49px; 
    background-color: aqua;
    position: relative;
    top:-30px;
    left:90px;
    
   }


#printout{
    border: 0px solid black;
    width: 100px;
    height: 30px;
    position: relative;
    top:-870px;
    float: right;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 20px;


}
#backtohomepage{
    border: 0px solid black;
    width: 100px;
    height: 50px;
    position: relative;
    top:-950px;
    left: 100px;
    float: right;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 20px;  
    padding-right: 25px;
    color: black;
    text-decoration: none;


    
    /* text-align: center; */
    /* padding: 5px; */

}
.endyear{
    border:1px solid black;
    width: 200px;
    height: 30px;
    /* padding-right: 90px; */
    position: relative;
    top: -929px;
    left: 1100px;
}


.nameandaddress{
    border:1px solid black;
    width: 200px;
    height: 30px;
    /* padding-right: 90px; */
    position: relative;
    top: -890px;
    left: 216px;
}

.permanentaccountno{
    border:1px solid black;
    width: 200px;
    height: 30px;
    /* padding-right: 90px; */
    position: relative;
    top: -882px;
    left: 336px;
}

.residentialstatus{
    border:1px solid black;
    width: 200px;
    height: 30px;
    /* padding-right: 90px; */
    position: relative;
    top: -880px;
    left: 300px; 
}

/* .kit{
    border:1px solid black;
    width: 100px;
    height: 30px; 
    margin-left:20px;
    position: relative;
    top:-540px;
    left:-9px;
} */

.name1emp{
    border:1px solid ;
    width: 100px;
    height:20px;
    position: relative;
    top:-569px;
    left:50px;
    outline: none;

}

.tan2{
    border:1px solid black;
    width: 100px;
    height: 20px;
    position: relative;
    top:-569px;
    left:85px; 
}



.per3{
    border:1px solid black;
    width: 100px;
    height:20px;
    position: relative;
    top:-569px;
    left:121px;
}

.per4{
    border:1px solid black;
    width: 100px;
    height: 20px;
    position: relative;
    top:-569px;
    left:140px;
}



.tol5{
    border:1px solid black;
    width: 100px;
    height: 20px;
    position: relative;
    top:-569px;
    left:160px;
}


.tol6{
    border:1px solid black;
    width: 100px;
    height:20px;
    position: relative;
    top:-569px;
    left:170px;
}


.val7{
    border:1px solid black;
    width: 100px;
    height: 20px;
    position: relative;
    top:-569px;
    left:220px;
}


.tol8{
    border:1px solid black;
    width: 100px;
    height: 20px;
    position: relative;
    top:-569px;
    left:250px;
}

.amo9{
    border:1px solid black;
    width: 100px;
    height: 20px;
    position: relative;
    top:-569px;
    left:300px;
}

.tol10{
    border:1px solid black;
    width: 100px;
    height: 20px;
    position: relative;
    top:-569px;
    left:330px;
}
.r11{
    border:1px solid black;
    width: 100px;
    margin-left: 100px;
    height: 20px;
    position: relative;
    top:-569px;
    left: 250px;
}

.yourname{
    border:1px solid black;
    width: 470px;
    height: 30px;
    position: relative;
    top:-10%;
    left:10%;

    /* top:-569px;
    left:500px; */
}

.verifiedtoday{
    border:1px solid black;
    width: 220px;
    height: 30px;
    position: relative;
    top:-9%;
    left:-16%;

}




.kits{
    border:1px solid black;
    width: 100px;
    height: 30px; 
    position: relative;
    top:-230px;
    left:-500px;
}


.nameempaddress{
    border:1px solid  black;
    width:120px;
    height:20px;
    position: relative;
    top:-34%;
    left:23%;
}
.permanentaccount{
    border:1px solid  black;
    width:120px;
    height:20px;
    position: relative;
    top:-32.7%;
    left:13%;
}
.endingyear{
    border:1px solid  black;
    width:120px;
    height:20px;
    position: relative;
    top:-32.7%;
    left:50%;
}
.endingyearto{
    border:1px solid  black;
    width:120px;
    height:20px;
    position: relative;
    top:-32.7%;
    left: 52%;
}

.dayofyear{
    border:1px solid  black;
    width:120px;
    height:20px;
    position: relative;
    top:-10%;
    left:40%;
}

.nameemp1{
    border:1px solid  black;
    width:120px;
    height:20px;
    position: relative;
    top:-23.1%;
    left:1%;


}

.tanemp2{
    border:1px solid  black;
    width: 120px;
    height:20px;
    position: relative;
    top:-23.1%;
    left:5%;

}

.acommodation3{
    border:1px solid  black;
    width: 120px;
    height:20px;
    position: relative;    
    top:-23.1%;
    left:7%;

}
.acommodation4{
    border:1px solid  black;
    width: 120px;
    height:20px;
    position: relative;
    top:-23.1%;
    left:9%;
}
.furniture5{
    border:1px solid  black;
    width: 120px;
    height: 20px;
    position: relative;
    top:-23.1%;
    left:12%;
}
.perquisite6{
    border:1px solid  black;
    width:120px;
    height:20px;
    position: relative; 
    top:-23.1%;
    left:19%;   
}
.tol7{
    border:1px solid  black;
    width:120px;
    height:20px;
    position: relative;
    top:-23.1%;
    left:22%;    
}
.rent8{
    border:1px solid  black;
    width: 120px;
    height:20px;
    position: relative;
    top:-23.1%;
    left:23%;  
}

.val9{
    border:1px solid  black;
    width: 120px;
    height:20px;
    position: relative;
   top:-23.1%;
    left:24%;     
}

.nameemp10{
    border:1px solid  black;
    width: 120px;
    height: 20px;
    position: relative;
    top:-9.6%;
    left:-73%;

}

.whether11{
    border:1px solid  black;
    width: 120px;
    height:20px;
    position: relative;
    top:-11.5%;
    left:14%;    
}

.remuneration12{
    border:1px solid  black;
    width: 120px;
    height: 20px;
    position: relative;
    top:-11.5%;
    left:17%;  
}

.value13{
    border:1px solid  black;
    width: 120px;
    height:20px;
    position: relative;
    top:-11.5%;
    left:19%; 
}

.estimatedvalue14{
    border:1px solid  black;
    width: 120px;
    height:20px;
    position: relative;
    top:-11.5%;
    left:23%;
}

.employercontribution15{
    border:1px solid  black;
    width: 120px;
    height:20px;
    position: relative;
    top:-11.5%;
    left:32%;  
}

.interest16{
    border:1px solid  black;
    width: 120px;
    height:20px;
    position: relative;
    top:-11.5%;
    left:37%;  
}

.totalofcolumns17{
    border:1px solid  black;
    width: 120px;
    height:20px;
    position: relative;
    top:-11.5%;
    left:41%;   

}

.policy{
    border:1px solid  black;
    width: 120px;
    height: 20px;
    position: relative;
    top:-4.7%;
    left:-12%;   
}
.Date5{
        border:1px solid  black;
        width: 120px;
        height: 20px;
        position: relative;
        top:-4.7%;
        left:-11%;     
}

.grossamount{
    border:1px solid  black;
    width: 120px;
    height: 20px;
    position: relative;
    top:-4.7%;  
    left:-8%;     
}

.qualifyingamount{
    border:1px solid  black;
    width: 120px;
    height: 20px;
    position: relative;
     top:-4.7%;
    left:-5%; 
}
/* .submit{
    border:1px solid  black;
    padding: 8px 10px;
} */
